body{
    background-image: url("/css1.webp");
    background-size: cover;
} 
form{
    background-color: beige;
    border: 10px solid orange;
    padding: 20px;
    margin: 50px;
    width: 450px;
}
h1{
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
}